PKG_CONFIG_DIR="{{ pkg_config_dir }}"
PKG_USER_NAME="{{ pkg_user_name }}"
PKG_VAR_DIR="{{ pkg_var_dir }}"

if [ -n "${PKG_ROOTDIR}" ] && [ "${PKG_ROOTDIR}" != "/" ]; then
  PW="/usr/sbin/pw -R ${PKG_ROOTDIR}"
else
  PW=/usr/sbin/pw
fi
if ${PW} usershow ${PKG_USER_NAME} >/dev/null 2>&1; then
  echo "==> pkg user '${PKG_USER_NAME}' should be manually removed."
  echo "  ${PW} userdel ${PKG_USER_NAME}"
fi

if [ -d "${PKG_CONFIG_DIR}" ]
then
  echo "==> config directory '${PKG_CONFIG_DIR}' should be manually removed."
  echo "  rm -rf ${PKG_CONFIG_DIR}"
fi

if [ -d "${PKG_VAR_DIR}" ]
then
  echo "==> run directory '${PKG_VAR_DIR}' should be manually removed."
  echo "  rm -rf ${PKG_VAR_DIR}"
fi
