# --------------------------------------------------------------------------------------
# CUSTOM TEMPLATE
# --------------------------------------------------------------------------------------
{{ app_name }}_enable="YES"
# key1={{ pair_key1 }}
# key2={{ pair_key2 }}
